body {
    background-image: url(/media/img/fer123.png);
    background-attachment: fixed;
    background-position: center;
    background-size:  1745px 890px;
    overflow-x: hidden;
    direction: ltr;
    font: 87.5%/1.3572 -apple-system,"San Francisco","Helvetica Neue",Roboto,"Segoe WP","Segoe UI",sans-serif;
    text-size-adjust: none;
    font-weight: 420;
    font-size: 14px;
    line-height: 1.35;
    font-family: "Galano",Georgia,Times,serif;
    color: #333;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
    box-sizing: border-box;
    margin: 30;
    padding: 30;
    outline: 0;
    border: 0;
}



.button{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 30px;
    margin: 30;
    padding: 0 15px;
    outline: 0;
    border: 0 solid transparent;
    border-radius: 10px;
    background: #e3c1fe;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-family: "Galano",Georgia,Times,serif;
    transition: all .2s cubic-bezier(.75,.25,.25,.75);
    appearance: none;
    cursor: pointer;
    /* user-select: none; */
    text-align: center;
    /* box-sizing: border-box; */
}


.button-dahsboard{
    border: 3px solid #a24bd4;
    background: #fff;
    color: #000000;
    width: auto;
    display: block;
    max-width: 100px;
    text-align: center;
    padding-top: 15px;
}

.app-entry-points_action+.app-entry-points_action{
    margin-left: 50px;
}

.button-delete{
    border: 1px solid #a24bd4;
    background: #fff;
    color: #000000;
    width: auto;
    display: block;
    max-width: 60px;
    text-align: center;
    padding-top: 5px;
}

.app-entry-points_action+.app-entry-points_action{
    margin-left: 30px;
}

button[type=submit] {
    width: 15%;
    background-color: #a24bd4;
    color: rgb(19, 17, 17);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
